body, html {
    height: 100%;
    background-color: hsl(216, 58%, 10%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid{
    height: 100%;
}

footer {
    position: relative;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

.row{
    height: auto;
}

a.uppercontenttext{
    color: #19a9fc;
    font-size: 18px;
    font-family: Consolas, "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    text-decoration: none;
    display: block;
}

a.middlecontenttext{
    color: #a7b9c4;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 74px;
    font-family: Calibri;
}

a.lowercontenttext{
    opacity: 0;
    display: block;
    padding-top: 20px;
    padding-right: 60%;
    color: #68777f;
    font-size: 20px;
    font-family: Calibri;
    text-decoration: none;
}


.margin-padding {
    margin-top: 280px;
    margin-left: 75px;
    padding-left: 200px;
}

.btn-cv{
    border-color: #19a9fc;
    background-color: transparent;
    font-family: Consolas, "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    color: #19a9fc;
}

.btn-cv:hover, .btn-cv:focus{
    background-color: #19a9fc !important;
    color: white !important;
}

.btn-cv:active, .btn-cv:visited{
    border-color: #19a9fc !important;
    color: #19a9fc !important;
    background-color: transparent !important;
}


.btn-primary{
    margin-top: 30px;
    border-color: #19a9fc;
    background-color: transparent;
    font-family: Consolas, "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    color: #19a9fc;
}

.btn-primary:hover, .btn-primary:focus{
    background-color: #19a9fc !important;
    color: white !important;
}

.btn-primary:active, .btn-primary:visited{
    border-color: #19a9fc !important;
    color: #19a9fc !important;
    background-color: transparent !important;
}

.bluetext{
    color: #19a9fc;
}

.offwhitetext{
    color: #a7b9c4;
    text-decoration: none;
}

.offwhitetext:hover{
    color: #19a9fc;
}

.img-content{
    border-radius: 15%;
    width: auto;
    height: 200px;
    margin: 15px 20px;
}

.AMpara{
    text-align: justify;
}

.AMprof{
    border-color: #19a9fc;
    border-width: 3px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 10px 10px rgba(25, 169, 252, 0.5); 
}

.rotate {

    transform: rotate(90deg);
  
  
    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(90deg);
  
    /* Firefox */
    -moz-transform: rotate(90deg);
  
    /* IE */
    -ms-transform: rotate(90deg);
  
    /* Opera */
    -o-transform: rotate(90deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  }

.right-bar{
    position: fixed;
    top: 0;
    right: 20px;
}

.left-bar{
    position: fixed;
    bottom: 0;
    left: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    .margin-padding{
        padding-left: 50px;
    }
}


@media screen and (min-width: 0px) and (max-width: 768px) {

    .left-bar, .right-bar{
        display: none;
    }

    a.uppercontenttext, a.middlecontenttext, a.lowercontenttext{
        text-align: center;

    }

    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    a.uppercontenttext{
        padding-top: 50px;
        color: #19a9fc;
        font-size: 16px;
        display: block;
    }
    
    a.middlecontenttext{
        color: #a7b9c4;
        text-decoration: none;
        display: block;
        font-weight: bold;
        font-size: 72px;
        line-height: 1em;
        padding-top: 10px;
    }
    
    a.lowercontenttext{
        display: block;
        padding: 5%;
        margin-right: 0;
        margin-top: 30px;
        color: #68777f;
        font-size: 16px;
    }

    .AMpara{
        text-align: center;
    }
    
    .col-md-10{
        align-content: center;
    }

    .buttonArea{
        display: grid;
    }

    .margin-padding{
        margin: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
}