.SLblc {
    color:#19a9fc;
    font-size:44px;
}

.SLbvlc {
    height: 90px;
    width: 36px;
}

.SLbvl {
    height: 100%;
    width: 2px;
    margin: 45%;
    background-color: #19a9fc;
}

.SLbr {
    margin-top: -5px;
}

.SLblc:hover{
    
}